<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="timerange" value="XDays"/> <!--Valid values: Specific, XDays-->
    <add key="org" value="55a900b10cf272a4b3015a7a"/>
    <add key="env" value="55f16d010cf2fae1b6b74fec"/>
    <add key="count" value="true"/>
    <add key="csvStorePath" value="\"/>
    <add key="summary" value="false"/>
    <add key="detail" value="false"/>
    <!--<add key="uri" value="https://eu.apim.ibmcloud.com/v1/orgs/{0}/environments/{1}/events?before={2}&amp;after={3}&amp;limit={4}"/> --><!--V4-->
    <add key="uri" value="https://eu.apiconnect.ibmcloud.com/v1/orgs/{0}/environments/{1}/events?before={2}&amp;after={3}&amp;limit={4}"></add> <!--V5-->
    <add key="proxy" value="http://thproxy.internet.point:8080"/>
    <add key="APIFilterDetail" value="shipping-api-v2-soap"/> 
    <add key="proxy" value="127.0.0.1:8888"/>
    <add key="useProxy" value="false"/>
    <add key="elastic" value="http://127.0.0.1:9200"/>
    <add key="createCSV" value="true"/>
    <add key="target" value="APIC"/> <!--APIC,AMAZON-->
    <add key="maxParallelThreads111" value="1"/>
    <add key="maxRowsToProcessInLoop" value="7500"/>
    <add key="interval" value="5"/>
  </appSettings>
</configuration>
